<!DOCTYPE html>
<html>
<head>
<title>Welcome to MyAPP on nginx!</title>
<style>
html { color-scheme: light dark; }
body { width: 35em; margin: 0 auto;
font-family: Tahoma, Verdana, Arial, sans-serif; }
</style>
</head>
<body>
<h1>Welcome to MYapp!</h1>

<p>Grafana -
<a href="http://{{ groups['mon'][0] }}:3000/">Grafana</a>.<br/>
<p>PGadmin -
<a href="http://{{ groups['database'][0] }}/">PGadmin</a>.</p>
<p>Nexus -
<a href="http://{{ groups['nexus'][0] }}:8081/">Nexus</a>.</p>
<p>Prometheus - 
<a href="http://{{ groups['mon'][0] }}:9090/">Prometheus</a>.</p>
<p>app (CalKulate?a=25&b=5&action=mult) -
<a href="http://{{ groups['app'][0] }}/CalKulate?a=25&b=5&action=mult">app</a>.</p>

<p><em>Thank you for using nginx.</em></p>
</body>
</html>
