server  {

  listen 80;
  server_name {{ groups['lb'][0] }};
  access_log   /var/log/nginx.my  main;
  root /usr/share/nginx/html;
  index index.html index.htm index.nginx-debian.html;

  location /db {
    rewrite ^/db http://{{ groups['database'][0] }}/ redirect;
  }

  location /prom {
    rewrite ^/db http://{{ groups['mon'][0] }}:9090/ redirect;
  }

  location /mon {
    rewrite ^/mon http://{{ groups['mon'][0] }}:3000/ redirect;
  }

  location /app {
    rewrite ^/app http://{{ groups['app'][0] }}/ redirect;
  }

  location /nexus {
    rewrite ^/app http://{{ groups['nexus'][0] }}:8081/ redirect;
  }
}
